body 
{
    height: 100vh;
    width:100%;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url("/images/road2.jpg");
    background-size: cover;
    padding: 10% 0;
    text-align: center;
    text-decoration: black;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.container
{
    display: table-cell;
    vertical-align: middle;
/*     height: 100vh; */

}

#jokeSetup
{
    font-size: 50px;
}

#jokePunchline
{
    font-size: 50px;
}

.tellJoke
{
    width: 200px;
    height: 40px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer
{
    background: #111;
    height: auto;
    width: 100vw;
    position: fixed;
    bottom: 0;
    margin-top: auto;
}

.addComedian 
{   
    width: 190px;
    margin: 10px;
    height: 40px;
    
}

.tellJoke
{
    width: 200px;
    height: 40px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}