body {
    height: 100%;
    width:100%;
    margin: 0 auto;
    background-image: url("/images/road2.jpg");
    background-size: cover;
    padding: 10% 0;
    text-align: center;
    text-decoration: black;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    display: table;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container
{
    display: table-cell;
    vertical-align: middle;

}

#jokeSetup
{
    font-size: 50px;
}
#jokePunchline
{
    font-size: 50px;
}

.tellJoke
{
    width: 200px;
    height: 40px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer
{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }